[Unit]
Description=nvidia-fan-controller

[Service]
ExecStart=%h/.local/share/nvidia-fan-controller/nvidia-fan-controller.sh

[Install]
WantedBy=default.target